
/* New Index */

.headerTagline{
    position: fixed;
    top: 220px;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    vertical-align: middle;
    height: auto;
	
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #145216  !important;
    color: #f9f9f9;
    border-radius: 0px;
}
.index_nav{
    background-color: #fff;
}
.index_nav a{
	font-size: 15px;
    color: #000;
    font-weight: 700;
}
.index_nav > li{
	float: left !important;
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
}
.index_nav > li+li{
	margin-left:0px !important
}
#wrapper{
    background-image: url(../img/snow1.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* overflow: auto; */
    height: auto !important;
    max-height: 1500px !important;
}
#title {
	text-align: left !important;
	width: 100%;
	margin-top: 0px !important;
	position: relative !important;
	top: 50%; 
	margin-left:25px
}
.top_header_navi_login{
	margin-top:10px !important
}

.left_conA{
    width: 100%;
    float: none;
    margin: auto;
    max-width: 450px;
}



.winkShow{
	/* background-position: -44px center; */
	background-position: -44px center !important;
}
.winkHide{
	  background-position: 0 center  !important;
}
.winkPass {
    background-image: url(../img/wink.svg);
    background-repeat: no-repeat;
	background-position: -44px center;
    cursor: pointer;
    height: 30px;
    /* overflow: hidden; */
    text-indent: -9999em;
    width: 44px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
}
.clickEmAd, .clickPass, .returnField{
	cursor:pointer;
	font-weight:600
}
.clickEmAd:hover, .clickPass:hover, .returnField:hover{
	color:red
}
.best_video > iframe{
	height:250px !important
}

#formReg .form-group {
    margin-bottom: 10px;
	padding-bottom: 10px;
	height: 45px;
}
.headerBackground{
	height:40px;
	margin-bottom:20px
}
.footer{
	width: 100%;height: auto;background-color: #424242;overflow: auto;padding: 10px 15px;    z-index: 1;
    position: relative;
}
.footer ul {
	display:table-row;
}
.footer ul li
{
	display: table-cell;
	padding: 10px;
	list-style-type: none;
	margin: 10px;
	vertical-align: middle;
	font-size:12px
}
.FBCon{
	border-top: 1px solid #b0b0b0;
    width: 100%;
    height: auto;
    margin: 30px auto 20px auto;
    padding: 30px 40px 20px 40px;
    position: relative;
}
.FBCon h5{
    position: absolute;
    background-color: #004f05;
    top: -10px;
    left: 0;
    right: 0;
    width: 80px;
    margin: auto;
    color: #FFF;
}
#login h3,#login h4, #login p, #register h3{
	color:#FFF;
	text-shadow: 0 3px 3px rgb(53, 53, 53), 0 -3px 3px rgba(0, 0, 0, 0.35), 3px 0 3px rgba( 0, 0, 0, 0.3 ), -3px 0 3px rgba( 0, 0, 0, 0.3 );
}

#register p{
	color:#000
}

.inputSec, .bdaySec, .inputCaptcha, .inputTerms{
	  overflow: inherit;padding:0px 5px
}


.wrapperCon{
	margin: 110px auto 50px auto; 
	overflow: auto;
}

/* END */



/* new navi/header */

.top_header_navi_icon span{
	position:relative;
	top:-5px;
    margin-left: 10px;
	color:#009966;
	font-size:12px
}
.searchInNavi {
	position: absolute;
    right: 320px;
    top: -3px;	
    z-index: 10;
}
.searchInNavi button{
    position: absolute;
    right: 0;
    height: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 35px;
    padding: 0;
    background-color: #009966;
    color: #FFF;
    font-size: 15px;
}
.menuCat{
	position: relative;
    top: -3px;
}
.searchInNaviMob{
	position:absolute;
	display:inline !important
}


/* END */


/* Post section */
.headerName{
    background-color: #fff;
    width: 100%;
    height: 45px;
    /* border-bottom: 1px solid #c3c3c3; */
    padding: 5px 5px 0px 10px;
	-webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.38);
-moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.38);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
    /* margin-bottom: 7px; */
	
}
.headerName a b{
    color: #6b6b6b;
    line-height: 8px;
    position: relative;
    top: 7px;
    font-size: 13px;
    left: 42px;

}

.headerName small{
	color: #bdbdbd;
    position: absolute;
    top: 25px;
    left: 50px;

    font-size: 11px;
}
.headerName > .survey_profile_pic {
	font-size: 18px;
    text-align: center;
    background-color: #a6d09a;
    font-weight: 600;
    position: absolute;
    padding-top: 5px;
    color: #f1f1f1;
}
/* END */



/* Footer In */

.footer_in{
    padding: 0px !important;
    background-color: transparent;
    border: 0px;
    color: #AEAEAE;
    font-size: 12px;
    width: 100%;
	margin-top: 30px;

}

.footer_in div:nth-child(2) ul, .footer_in div:last-child ul{
	text-decoration: none;
    margin: auto;
    padding: 0;}

.footer_in div:nth-child(2) ul li, .footer_in div:last-child ul li{
	display: inline-block;
    margin: 0px 5px 4px 2px;
}


/* END */


/* POST Form */

.headerPost{
    background-color: #378e3d;
    width: 100%;
    height: auto;
    /* border-bottom: 1px solid #c3c3c3; */
    padding:10px 5px 10px 15px
	
}
.headerPost h4{
	color:#fff;

    font-size: 17px;
    padding: 0;
    margin: 0;
	
}
.postFooter{
	overflow:auto;
    background-color: #ececec;
    padding: 5px;
}


/* END */



/* Timeline */

.timeline_coverPhoto{
	height:125px; 
	background-size: cover;
	position: relative;  
	width: 100%;
	background-position-x: -125px;
}
.timelineNav{
	width:100%;
	height:45px;
	background-color:#FFF;
margin-bottom:20px
}
.tl_name{
    /* position: absolute; */
    /* bottom: 0; */
    /* height: 65px; */
    /* padding: 10px 0px; */
    /* width: 100%; */
    left: 175px;
    /* font-size: 47px; */
    padding-left: 125px;
}
.tl_friend{
	width: 20%;
    height: 101%;
    float: right;
    background-color: #FFF;
    z-index: 2;
    position: absolute;
    right: -1px;
    top: 0;
	overflow: hidden;
}
.tl_friend div{
    width: 74px;
    height: 74px;
    /* border: 1px solid red; */
    float: left;
    background-color: #eee;
    margin-left: 1px;
    margin-bottom: 1px;
    font-size: 30px;
    text-align: center;
    padding: 15px 0;

} 
.timeline_menu ul{
	text-decoration: none;
    margin: 0;
	padding:0;
    position: relative;
}
.timeline_menu{
    border-top: 1px solid #cccccc;
}
.timeline_menu ul li{
    display: inline-block;
    width: 32%;
    /* border: 1px solid; */
    margin: 0;
    padding: 15px 12px;
    text-align: center;
    border-right: 1px solid #cccccc;
	color:#62a254;
	font-weight:700;
	font-size: 12px;
	cursor:pointer
}
.timeline_menu ul li:last-child{
    border-right: 0px solid !important;
	color:#c3e1bf !important;
	cursor:not-allowed !important
}

/* END */



.sponsorSec{
	/* border:1px solid */
}
#sponsor_con{
	width: 95%;
    margin: auto;
}

.modal-backdrop.in{
	opacity:.5 !important
}



/* search */

.search-highlight{
	background-color:#e4ff07
}
.searchPeopleCon{
	height: 100px;
    background-color: #FFF;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #dadada;
	margin-bottom:20px
}

.searchPeopleCon_pic{
	width:60px;
	height:60px;
	border-radius:100%;
	float:left;
	margin:0px 5px 5px 0px;
    background-color: #a6d09a;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding-top: 13px;

}

.searchPeopleCon h4{
    font-size: 16px;
    margin-bottom: 0;
}

.searchPeopleCon p{
	color:#b1b1b1
}

.searchPeopleCon a{
	font-size: 13px;
}




/* end */